################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Adapter/.vs
/AbstractFactory/.vs
/FactoryMethod/.vs/FactoryMethod
/FactoryMethod/.vs/ProjectEvaluation
/Singleton/.vs/Singleton
/Strategy/.vs/Strategy
/Singleton/.vs/ProjectEvaluation
/Strategy/Map/.vs
/Strategy/.vs/ProjectEvaluation
/TemplateMethod/.vs
/TemplateMethod/HairCut/.vs/HairCut
/Facade/.vs/Facade/v17
